{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}El Güegüense{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Restaurante El Güegüense</h1>
        <nav>
            <a href="{% url 'crear_pedido' %}">Nuevo Pedido</a>
            <a href="{% url 'listar_pedidos' %}">Ver Pedido</a>
            <a href="{% url 'menu' %}">Menu</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 El Gueguense</p>
    </footer>
</body>
</html>